.title{
  margin-top: 40px;
  margin-bottom: 20px;
}
/* .input{
  padding: 7px 10px;
} */
.block{
  margin: 15px;
  
}
.buttons{
  background: #051c33 ;
  color: white;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.image{
  margin:50px;
  transition:0.3em;
}